@media only screen and (min-width: 0px) and (max-width: 567px){
	

.pic-set{
	margin-top: 20px;
}
.team-area{
	background: #fff;
	padding: 30px;

}
.border-line{
	border-bottom: 2px solid orange;
	display: table;
	width: 10%;

}
.team-section h2{
	color: #07294d;
   padding: 0px;
  
}
.team-section h1{
	padding-bottom: 30px;
	margin-top: 30px;
	font-weight: bold;
	font-size: 48px;
}
.Success-story{
	margin-top: 50px;
	font-family: "futura-bold";
	color: #1e1e4b;
	background: #fff;
	height: 600px;
    padding: 60px 70px;
}
.team-section button{
	margin-top: 30px;
}

.con{
	position: absolute;
   bottom: 10px;
    left: 0;
    right: 0;
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    padding: 5px;
   
}
.con h6{
	color: black;
}
.team-area{
	background: #fff;
	padding: 30px;

}

.col-sm-6{
	-webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-sm-7{
	margin-left: 9px;
}
}